@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Data encryption is a suggestion when you don't care about the data here</p><br>
Basically don't write sensitive info here or it's gonna bite yo ass, I'm not taking responsibility if you fuck up